
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #2a5a8e;">
  <a class="navbar-brand" href="#"><strong style="font-size: xx-large;color:antiquewhite"><i class="fas fa-map-marked-alt"></i> &nbsp;Transport App</strong></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" style="font-size:larger;color:antiquewhite" [routerLink]="['/dashboard',id]"> <b>Welcome {{id}}</b> <span class="sr-only" >(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link"  style="font-size:larger;color:antiquewhite" [routerLink]="['/wishlist',id]"> <b>Wishlist</b> <span class="sr-only">(current)</span></a>
      </li>
     
     
    </ul>
    <!-- <form class="form-inline my-lg-0 my-lg-0" (ngSubmit)="searchFilter()">
      <input [(ngModel)]="val" class="form-control mr-sm-2"  name="val" type="text" placeholder="Search" aria-label="Search">
      <button class="btn btn-success my-4 my-lg-3" type="submit">Search</button>
    </form> -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
          <a style="font-size:xx-large;color:antiquewhite" class="nav-link dropdown-toggle"  href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <i class="fas fa-caret-square-down"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            
              <button class="dropdown-item" [routerLink]="['/prof',id]"  type="submit">Profile <i class="fas fa-user-alt" style="color:blue;font-size: larger;"></i></button>
            
            
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"  [routerLink]="['/change',id]">Change Password <i class="fas fa-unlock-alt" style="color:green;font-size:larger"></i></a>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" (click)="logoutUser()"  type="submit">Sign out <i class="fas fa-sign-out-alt" style="color:orange;font-size: larger;"></i></button>
            <div class="dropdown-divider"></div>
            
            
          </div>
        </li>
    </ul>
  </div>
</nav>
<div class="container py-5 h-100" >
  <div *ngIf="result?.length==0" class="text-center">
    <img class="" src="assets/assets/img/wishlist.png" alt=".." style="width:auto"  />
    
  </div> 
  <div class="text-center">
  <button class="btn btn-success" [routerLink]="['/dashboard',id]"  type="submit">Back</button>
  </div>
<div class="row row-cols-1 row-cols-md-2 row-cols-md-3 row-cols-md-4">
    <div *ngFor="let place of result">
      <div class="col mb-4">
      <div class="shadow-lg card border-info mb-3" style="max-width: 18rem;">
        <div class="card-header bg-info border-info">{{place.name}}</div>
        <div class="card-body text-dark">
          <h5 class="card-title">Description</h5>
          <p class="card-text">{{place.description}}</p>
          </div>
         <div class="card-footer bg-transparent border-info">{{place.type}} 
            <span class="text-right"> 
            <button class="btn btn-outline-danger text-right" type="submit" (click)="deleteWishlist(id!,place.placeId)"><i class="fas fa-times"></i></button></span>
              
        
     
      </div>
   </div>
   </div>
  
<br>
</div>
</div>
</div>

