<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #2a5a8e;">
    <a class="navbar-brand" href="#"><strong style="font-size: xx-large;color: antiquewhite;"><i class="fas fa-map-marked-alt"></i> &nbsp;Transport App</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" style="font-size:larger;color:antiquewhite" [routerLink]="['/dashboard',id]"> <b>Welcome {{id}}</b> <span class="sr-only" >(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link"  style="font-size:larger;color:antiquewhite" [routerLink]="['/dashboard',id]"> <b>Profile</b> <span class="sr-only">(current)</span></a>
        </li>
       
       
      </ul>
      <!-- <form class="form-inline my-lg-0 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-success my-4 my-lg-3" type="submit">Search</button>
      </form> -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a style="font-size:xx-large;color:antiquewhite" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <i class="fas fa-caret-square-down"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
             
              <a class="dropdown-item" [routerLink]="['/change',id]">Change Password <i class="fas fa-unlock-alt" style="color:green;font-size:larger"></i></a>
              <div class="dropdown-divider"></div>
              <button class="dropdown-item" (click)="logoutUser()"  type="submit">Sign out <i class="fas fa-sign-out-alt" style="color:orange;font-size: larger;"></i></button>
              <div class="dropdown-divider"></div>
              
            </div>
          </li>
      </ul>
    </div>
  </nav>
  <section class="vh-1000" style="background-color: #94f0ec;">
    <div class="container text-center py-5 h-100">
      <div class="card" style="width: 36rem;">
        <img class="card-img-top" src="assets/assets/img/profile-img.jpg" alt="Card image cap">
        <p>
      <!-- <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" (click)="getUserDetails(id!)">
        Click on your Profile
      </button> -->
      </p>
      <div>
   
    <div class="card-body">
      <h5 class="card-title">Profile</h5>
      <p class="card-text"> Name : {{user.firstName}}  {{user.lastName}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Username : {{user.username}}</li>
      <li class="list-group-item">Email id : {{user.emailId}}</li>
     
    </ul>
    <div class="card-body">
     
      <button type="button" class=" card-link btn btn-primary" data-toggle="modal" data-target="#exampleModal">
       Edit
      </button>
      
    </div>
  </div>
  </div>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #editform="ngForm"  (ngSubmit)="EditUser()" > 
            
            <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Edit your details</h5>
            <div class="form-outline mb-4">
              <input [(ngModel)]="user.firstName" name="firstName" class="form-control form-control-lg" type="text"  required />
              
              <label class="form-label" for="form2Example17">First Name</label>
            
              
            
            </div>
            <div class="form-outline mb-4">
              <input [(ngModel)]="user.lastName" name="lastName" class="form-control form-control-lg" type="text"  required />
              
              <label class="form-label" for="form2Example17">Last Name</label>
            
              
            
            </div>
            <!-- <div class="form-outline mb-4">
              <input [(ngModel)]="user.username" name="username" class="form-control form-control-lg" type="text"  required />
              
              <label class="form-label" for="form2Example17">User Name</label>
            
              
            
            </div> -->
            <div class="form-outline mb-4">
              <input [(ngModel)]="user.emailId" name="emailId" class="form-control form-control-lg" type="text"  required />
              
              <label class="form-label" for="form2Example17">Email address</label>
            
              
            
            </div>





           

            

            <div class="pt-1 mb-4">
              <button  type="submit" class="btn btn-info">Save</button>
            </div>

           
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

         
        </div>
      </div>
    </div>
  </div>
  </section>